.main-navigation {}

.site-branding {
	@extend .navbar-brand;

	.site-description,
	.site-title {
		margin-bottom: 0;
	}

	.site-title {
		font-weight: inherit;
		font-size: $navbar-brand-font-size;
	}

	.site-description {
		font-size: $font-size-base;
	}
	@include media-breakpoint-up(lg) {
		.site-description,
		.site-title {
			display: inline-block;
		}
	}
}

.menu {
	@extend .ml-auto;
}

.nav-menu {
	@extend .navbar-nav;

	> li {
		@extend .nav-item;

		> a {
			@extend .nav-link;
		}
	}

	.page_item_has_children {
		@extend .dropdown;

		ul {
			@extend .dropdown-menu;

			ul {
				left: 100%;
				top: 0;
			}

			a {
				@extend .dropdown-item;
			}
		}

		> a {
			@extend .dropdown-toggle;
		}
		@include hover-focus {
			> ul {
				display: block;
			}
		}
	}

	.focus {
		> ul {
			display: block;
		}
	}

	.current-menu-ancestor,
	.current-menu-item,
	.current_page_ancestor,
	.current_page_item {
		@extend .show;
	}
}

.comment-navigation,
.post-navigation,
.posts-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
