.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $spacer;
}

.updated:not(.published) {
	display: none;
}

.entry-content,
.entry-summary,
.page-content {
	margin: $spacer 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $spacer;
}
